<p style="color: green"><%= notice %></p>

<% content_for :title, "Clientes" %>

<h1>Clientes</h1>

<table class="clientes-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.telefono %></td>
        <td>
          <%= link_to "Mostrar", cliente_path(cliente), class: "btn btn-show" %>
          <%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-edit" %>
          <%= link_to "Eliminar", cliente_path(cliente), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="new-cliente">
  <%= link_to "Nuevo Cliente", new_cliente_path, class: "btn btn-new" %>
</div>
