<p style="color: green"><%= notice %></p>

<% content_for :title, "Facturas" %>

<h1>Facturas</h1>

<table class="facturas-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pedido</th>
      <th>Fecha de Pago</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.id %></td>
        <td><%= factura.pedido_id %></td>
        <td><%= factura.fecha_pago&.strftime('%d/%m/%Y %H:%M') || "No definido" %></td>
        <td><%= number_to_currency(factura.monto, unit: "S/.", separator: ".", delimiter: ",") %></td>
        <td>
          <%= link_to "Mostrar", factura_path(factura), class: "btn btn-show" %>
          <%= link_to "Editar", edit_factura_path(factura), class: "btn btn-edit" %>
          <%= link_to "Eliminar", factura_path(factura), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nueva Factura", new_factura_path, class: "btn btn-new" %>
