<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>

<h1>Productos</h1>

<table id="productos-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad en Inventario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td>$<%= number_to_currency(producto.precio, unit: "", separator: ".", delimiter: ",") %></td>
        <td><%= producto.cantidad %></td>
        <td>
          <%= link_to "Ver", producto_path(producto), class: "btn btn-view" %>
          <%= link_to "Editar", edit_producto_path(producto), class: "btn btn-edit" %>
          <%= link_to "Eliminar", producto_path(producto), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nuevo Producto", new_producto_path, class: "btn btn-new" %>
